* {
    font-family: Arial, Helvetica, sans-serif
}
main{
    max-width: 1200px;
    margin: auto;
}
header{
    background-color: rgb(208, 226, 241);
    margin: auto;
    text-align: center;
    padding: 30px;
}
.card{
    max-width: 300px;
    min-width: 255px;
    margin: auto;
    background-color: rgb(240, 240, 240);
    border: none;
}
.card-title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}